[submodule "voice"]
	path = voice
	url = https://github.com/Flissel/VibeMind-VoiceDialog.git
[submodule "ops"]
	path = ops
	url = https://github.com/Flissel/vibemind-os.git
[submodule "shared"]
	path = shared
	url = https://github.com/Flissel/vibemind-shared.git
[submodule "clawcode"]
	path = clawcode
	url = https://github.com/Flissel/ClawCode.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/Flissel/openclaw.git
[submodule "openfang"]
	path = openfang
	url = https://github.com/Flissel/openfang.git
[submodule "security"]
	path = security
	url = https://github.com/Flissel/vibemind-security.git
[submodule "openclaude"]
	path = openclaude
	url = https://github.com/Flissel/openclaude.git
[submodule "la-fungus-search"]
	path = la-fungus-search
	url = https://github.com/Flissel/la_fungus_search.git
[submodule "coding-engine"]
	path = coding-engine
	url = https://github.com/Flissel/DaveFelix-Coding-Engine.git
